.container {
    max-width: 1222px;
    padding: 0 21px;
    margin: 0 auto;
}
.container-flex {
    display: flex;
    padding: 0 21px;
    justify-content: space-between;
    max-width: 1222px;
    margin: 0 auto;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}
a {
    text-decoration: none;
    color: #010201;
}
html {
    scroll-behavior: smooth;
}
body{
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-size: inherit;

}
h2 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}
ul {
    list-style-type: none;
}
button:hover {
    color:#fff;
    background-color:#E06733;
    cursor: pointer;
    transition: 0.5s;
}
button:active {
    box-shadow: 2px 2px 5px #fc894d;
}
.hamb {
    display: none;
}
.header{
    background: #EDF2EC;
    width: 100%;
    font-family: "Inika", sans-serif;
}
.logo {
    position: relative;
}
.logo-img {
    position: relative;
    top: -5px;
}
.logo-link {
    display: flex;
}
.logo-text {
    line-height: 1.3;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 56px;
}
.nav-list {
    display: flex;
    gap: 47px;
    font-weight: 400;
    font-size: 16px;
}
.nav-link-active {
    color:#E06733;
    font-weight: 700;
}
.nav-link:hover {
    color:#E06733;
    /* font-weight: 700; */
    transition: 0.5s;
}

.welcome {
    background: #EDF2EC;
}
.welcome-wrapper {
    display: flex;
    justify-content: space-between;
}
.welcome-item {
    max-width: 547px;
    width: 100%;
    margin-top: 97px;
}
.welcome-leafs{
    width: 448.8px;
    height: 407.36px;
    background-image: url(./assets/img/leafs.png);
    background-repeat: no-repeat;
    background-position: left -10px top -10px;
    margin-top: 62px;
}
.welcome-header {
    margin-bottom: 44px;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}
.welcome-green {
    color: #499A18;
}
.welcome-descr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}
.welcome-btn {
    margin-top: 46px;
    width: 158px;
    padding: 11px 24px;
    margin-bottom: 94px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.about {
    max-height: 666px;
    /* padding-top: 93px;
    padding-bottom: 94px; */
}
.about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-item {
    height: 506px;
    padding-top: 160px;
}
.about-header {
    width: 463px;
    margin-bottom: 38px;
    font-weight: 400;
}
.about-orange {
    color:#E06733
}
.about-green {
    color:#499A18;
}
.about-descr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}
.about-plant {
    width: 464px;
    height: 479px;
}
.service {
    padding-bottom: 118px;
    background: #EDF2EC;

}
.service-header {
    color: #499A18;
    width: 306px;
    margin-right: 141px;
    font-weight: 500;
}
.service-content {
    margin: 0 0 80px 0;
    display: flex;
    align-items:center;
    padding-top: 42px;
}
.service-btn {
    width: 161px;
    height: 50px;
    margin-right: 34px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    transition: all 500ms ease;
}
.service-btn_active {
    background-color: #e06733;
    color: #fff;
    transition: all 500ms ease;
}
.service-btn:last-child {
    margin-right: 0px;
}
.service-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-item {
    width: 330px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blur {
    filter: blur(2px);
    transition: 0.5s;
}
.service-item:nth-child(n+4) {
    content: '';
    margin-top: 54px;

}
.service-item_img {
    width: 100%;
    height: 350px;
}
.service-item_text {
    width: 100%;
    text-align: center;
    border: 1px solid #E3E1D5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.service-item_header {
    padding-bottom: 14px;
    margin-top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}
.service-item_descr {
    margin-bottom: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}
.prices {
    padding-top: 40px;
    padding-bottom: 118px;
}
.prices-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.prices-items {
    margin-top: 60px;
    padding: 34px 41px;
    max-width: 248px;
    width: 100%;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}
.prices-item{
    overflow: hidden;
    border-radius: 20px;
}
.prices-item-tab:hover {
    cursor: pointer;
    background: #D6E7D2;
    transition: 1s;
}
.prices-item-tab {
    display: flex;
    align-items:center;
    justify-content: space-between;
    max-width: 172px;
    max-height: 50px;
    height: 100%;
    background: #EDF2EC;
    /* border-radius: 20px; */
    padding: 15px 37px 15px 41px;
}
.prices-item-tab_active {
    background: #D6E7D2;

}
.prices-item:not(:last-child){
    margin-bottom: 33px;
}
.prices-item_name {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}
.prices-item_btn {
    position: relative;
    width: 16px;
    height: 16px;
    background: #D9D9D9;
    border-radius: 50%;
    box-shadow: none;
}
.prices-item-arrow {
    background-image: url(./assets/icons/accordion_btn.svg);
    display: inline-block;
    width: 16px;
    height: 16px;
}
.prices-item-arrow_active {
    transform: rotateX(135deg);
}
.prices-item-accord {
    height: 0px;
    background: #D6E7D2;
    padding: 0 39px;
    overflow: hidden;
    transition: 0.3s ease;
}
.prices-item-accord_active {
    height: 125px;
}
.prices-item-accord-descr {
    width: 170px;
    padding-top: 10px;
    margin-bottom: 8px;
    border-top: 1px solid #717171;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #717171;
}
.prices-item-accord-price {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #e06733;
}
.prices-item-accord-price-procare::before {
    content: "$";
    font-size: 12px;
    color: #e06733;
}
.prices-item-accord-price-procare::after {
    content: " / per hour";
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}
.prices-item-accord-order {
    display: inline-block;
    padding: 3px 20px;
    margin-bottom: 12px;
    background-color: #ffffff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
}
.prices-item-accord-order:hover {
    color:#E06733
}
.prices-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.prices-right-header {
    max-width: 452px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
}
.prices-right-btn {
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: "Inika";
    color: #E06733;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-top: 40px;
    margin-bottom: 39px;
    background: #ffff;
}
.prices-right-img {
    width: 152px;
    height: 175px;
    background-image: url(./assets/img/leafs2.png);
    background-repeat: no-repeat;
    margin-right: 5px;
    /* max-width: 152px;
    width: 100%;
    max-height: 175px;
    height: 100%; */
}
.contacts {
    background: #EDF2EC;
}
.contacts-left {
    padding-top: 53px;
}
.contacts-woman {
    width: 400px;
    height: 497px
}
.contacts-right {
    padding-top: 60px;
    max-width: 709px;
    width: 100%;
}
.contacts-select {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items:flex-end;
}
.contacts-item {
    max-width: 450px;
    width: 100%;
    height: 50px;
    background-color: #D6E7D2;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
    position: relative;
    float: right;
    margin-top: 35px;
}
.contacts-item:hover {
    background-color: #C1E698;
    cursor: pointer;
}
.contacts-item::before{
    content: "";
    width: 16px;
    height: 16px;
    background: #AEA1A1;
    position: absolute;
    border-radius: 50%;
    top: 17px;
    right: 35px;
}
.contacts-item::after {
    content: "";
    width: 3px;
    height: 3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(135deg);
    position: absolute;
    top: 22px;
    right: 41px;
  }
  .contacts-item_active {
    background-color: #C1E698;
  }
  .contacts-item_active::after {
    transform: rotate(315deg);
    top:24px
  }
.contacts-item-name {
    position: absolute;
    padding: 6px 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}
.contacts-accord {
    overflow: hidden;
    width: 450px;
    height: 0px;
    transition: 0.5s ease;
}
.contacts-accord_active {
    transition: 0.5s ease;
    height: 234px;
}
.contacts-accord-cities {
    padding: 27px 35px 31px 35px;
    background-color:#DCE9D9;
}
.contacts-accord-city {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #499A18;
    border-bottom:0.5px solid #D9D9D9;
    margin-bottom: 4px;
}
.contacts-accord-city:nth-child(4){
    margin-bottom: 0px;
}
.contacts-accord-city:hover {
    border-bottom: 0.5px solid #717171;
    cursor:pointer;
    transition: 0.5s;
}
.contacts-callus {
    display: none;
    margin-top: 47px;
    padding: 17px 76px 32px 33px;
    border: 1px solid #000000;
    border-radius: 20px;
    width: 337px;
    height: 163px;
}
.contacts-callus_active {
    display: block;
}
.contacts-callus-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}
.btn-callus {
    margin-top: 20px;
    text-align: center;
    border:1px solid #E06733;
    border-radius: 5px;
    padding: 5px 30px;
    max-width: 135px;
    color: #717171;
    background: #EDF2EC;
    font-family: "Inika", sans-serif;
    margin-left: 130px;
}
.name {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #000000;
}
.footer {
    padding: 40px 0px;
}
.footer-link-github {
    max-width: 167px;
    width: 100%;
    display: flex;
    align-items:center;
    font-size: 20px;
}
.footer-link-github span {
    margin: 0 21px 0;
}
.footer-link-rsschool {
    max-width: 211px;
    width: 100%;
    margin-left: 19px;
    display: flex;
    align-items:center;
}
.footer-link-social {
    max-width: 188px;
    width: 100%;
}
.footer a{
    font-weight: 400;
    font-size: 20px;
    color: #000;
}
.social {
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 50px;
}
.social-img {
    display: inline-block;
}
.footer-link-github:hover, .footer-link-rsschool>a:hover, .social-img:hover {
    filter: invert(55%) sepia(85%) saturate(3801%) hue-rotate(65deg) brightness(94%) contrast(81%);
}